/*Import*/
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
/*Variable*/
/*Global*/
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Open Sans", arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

h1,
h2,
h3 {
  text-align: center;
  text-transform: uppercase;
}

section {
  height: 90vh;
  padding-top: 100px;
  padding-bottom: 100px;
}

.grey {
  color: grey;
}

header {
  background-image: url("http://rhythm.bestlooker.pro/images/full-width-images/section-bg-10.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-width: 100vw;
}

header:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(34, 34, 34, 0.5);
}

.main-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.container-first {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  z-index: 1;
}

.container-first .brand {
  -ms-flex: 1 30%;
      flex: 1 30%;
  line-height: 16px;
  padding: 20px;
  text-transform: uppercase;
  margin: 1rem;
  text-align: center;
  color: yellow;
  font-weight: 400;
  font-family: 'Indie Flower', sans-serif;
}

.container-first nav {
  -ms-flex: 1 70%;
      flex: 1 70%;
}

.container-first nav ul {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container-first nav ul li {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
}

.container-first nav ul li a {
  text-decoration: none;
  padding: 20px;
  color: black;
  display: block;
  text-transform: uppercase;
  color: white;
}

.container-second {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 75vh;
  z-index: 2;
}

.container-second .header-subtitle {
  color: rgba(255, 255, 255, 0.75);
}

.container-second .header-title {
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: 10px;
  font-size: 48px;
}

.container-second .btn-first {
  color: rgba(255, 255, 255, 0.75);
  border: none;
  background: transparent;
  text-transform: uppercase;
  border: 2px solid rgba(255, 255, 255, 0.75);
  padding: 8px 37px;
  font-size: 12px;
}

.services h2,
.portfolio h2 {
  font-size: 30px;
}

.container-third {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 100px 30px 100px 30px;
}

.container-third .service {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
}

.container-third .icon {
  text-align: center;
  height: 100px;
  width: 100px;
  border: 3px solid yellow;
  border-radius: 100%;
  margin: 0 auto;
}

.container-third .icon i {
  font-size: 50px;
  line-height: 100px;
  text-align: center;
  font-weight: bold;
  color: yellow;
}

.portfolio {
  background-color: #E5E6E8;
  margin-top: 100px;
  height: 100%;
}

.portfolio .container-fourth {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 150px;
  padding-right: 150px;
  margin-top: 100px;
}

.portfolio .container-fourth .item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin-right: 20px;
}

.portfolio .container-fourth .item img {
  width: 300px;
  height: 300px;
}

.portfolio .container-fourth .item .description {
  background-color: white;
  margin-bottom: 50px;
}

.portfolio .container-fourth .item .description h4 {
  font-style: italic;
  margin-top: 20px;
}

footer {
  height: 10vh;
}

footer .container-fifth {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 30px;
}

footer .container-fifth .copyright {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

footer .container-fifth .socials {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

footer .container-fifth .socials .social {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 100%;
  margin-right: 20px;
  background-color: black;
}

footer .container-fifth .socials .social a {
  text-align: center;
  text-decoration: none;
}

footer .container-fifth .socials .social a i {
  font-size: 40px;
  display: block;
  line-height: 40px;
  color: white;
}
/*# sourceMappingURL=style.css.map */